/*********************************
Universal
*********************************/

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

/*********************************
Index Container
*********************************/

#index_container {
  position: relative;
  height: 100vh;
}

/*********************************
Index Header
*********************************/

.header_div {
  padding: 20px 0;
  background-color: #f5f5f5;
}

#logo {
  text-align: center;
  font-size: 2em;
}

.nav_list {
  text-align: center;
}

.nav_list {
  list-style: none;
  padding: 0;
}

.nav_list li {
  font-size: 1.25em;
  padding: 0 20px;
  display: inline;
}

.header_div a:visited {
  color: black;
}

.header_div a:hover {
  color: grey;
}

/*********************************
Index Main
*********************************/

.main_index {
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
}

.main_index img {
  width: 70%;
  border-radius: 50%;
}

/*********************************
Index Footer
*********************************/

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
  background-color: #f5f5f5;
}

footer img {
  width: 36px;
  padding: 0 10px;
}
