/*********************************
Universal
*********************************/

body {
  font-family: "Quicksand", sans-serif;
  color: #606060;
}

a {
  text-decoration: none;
}

#active {
  border-bottom: 2px #d6ed17 solid;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100vh;
}

/*********************************
Index Header
*********************************/

.header_div {
  background-color: #606060;
  width: 100%;
  border-bottom: 4px #d6ed17 solid;
}

#logo {
  margin: 24px 0 0 0;
  text-align: center;
  font-size: 1.75em;
  color: #d6ed17;
}

.nav_list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 24px 0;
}

.nav_list li {
  font-size: 1.25em;
  padding: 0 20px;
  display: inline;
  color: #d6ed17;
}

.header_div a:visited {
  color: #d6ed17;
}

.header_div a:hover {
  color: grey;
}

/*********************************
Index Main
*********************************/

.main_index {
  width: 100%;
  text-align: center;
}

.home_image {
  width: 60%;
  border-radius: 50%;
  border: 4px #d6ed17 solid;
}

/*********************************
Work Main
*********************************/

.main_work {
  width: 100%;
  text-align: center;
}

.work_list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 0;
  margin: 50px 0;
}

.work_item {
  margin-bottom: 36px;
}

.work_item:last-child {
  margin-bottom: 0px;
}

.work_item img {
  border: 3px #606060 solid;
  width: 50%;
}

.work_item p {
  margin: 12px 0 0;
}

/*********************************
Footer
*********************************/

footer {
  width: 100%;
  text-align: center;
  background-color: #606060;
  border-top: 4px #d6ed17 solid;
}

footer a {
  color: #d6ed17;
}

footer img {
  margin: 16px 12px 0;
  width: 36px;
}

footer p {
  margin: 16px 0;
}

/*********************************
Media Queries
*********************************/

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .header_div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  #logo {
    font-size: 2.5em;
    margin-bottom: 24px;
  }

  .nav_list li {
    font-size: 1.75em;
  }

  .main_index {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .home_image {
    width: 30%;
  }

  .home_text h1 {
    font-size: 2.5em;
  }
  .home_text h2 {
    font-size: 2em;
  }

  .work_item img {
    width: 50%;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .social_icons img {
    margin-top: 0;
  }

  .email_div {
    font-size: 1.5em;
    margin: 20px 0;
    order: -1;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .main_index {
    justify-content: center;
  }

  .home_image {
    width: 400px;
    margin-right: 50px;
  }

  .home_text {
    margin-left: 50px;
  }

  .home_text h1 {
    font-size: 3em;
  }

  .home_text h2 {
    font-size: 2.5em;
  }
}
