/*********************************
Universal
*********************************/

body {
  font-family: "Lato", sans-serif;
  color: #606060;
}

a {
  text-decoration: none;
}

/*********************************
Index Container
*********************************/

#index_container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 100vh;
}

/*********************************
Index Header
*********************************/

.header_div {
  background-color: #606060;
  width: 100%;
}

#logo {
  margin: 24px 0 0 0;
  text-align: center;
  font-size: 1.75em;
  color: #d6ed17;
}

.nav_list {
  text-align: center;
}

.nav_list {
  list-style: none;
  padding: 0;
  margin: 24px 0;
}

.nav_list li {
  font-size: 1.25em;
  padding: 0 20px;
  display: inline;
  color: #d6ed17;
}

.header_div a:visited {
  color: #d6ed17;
}

.header_div a:hover {
  color: grey;
}

/*********************************
Index Main
*********************************/

.main_index {
  width: 100%;
  text-align: center;
}

.main_index img {
  width: 60%;
  border-radius: 50%;
  border: 4px #d6ed17 solid;
}

/*********************************
Index Footer
*********************************/

footer {
  width: 100%;
  text-align: center;
  background-color: #606060;
}

footer a {
  color: #d6ed17;
}

footer img {
  margin: 16px 12px 0;
  width: 36px;
}

footer p {
  margin: 16px 0;
}
